JWT Authenticator does not take body whitespace into account

When a token is created in [constructor](https://github.com/nmondal/cowj/blob/e63d3c531a2130bbd6dc1e69c649b14599a9e25d/app/src/main/java/cowj/plugins/JWTAuthenticator.java#L160) of JWebToken, we decode the payload into a map and when jwt authenticator wants to check [if signature is valid](https://github.com/nmondal/cowj/blob/e63d3c531a2130bbd6dc1e69c649b14599a9e25d/app/src/main/java/cowj/plugins/JWTAuthenticator.java#L340C32-L340C32), we [encode](https://github.com/nmondal/cowj/blob/e63d3c531a2130bbd6dc1e69c649b14599a9e25d/app/src/main/java/cowj/plugins/JWTAuthenticator.java#L191C59-L191C59) the payload back into a string using [ZTypes.jsonString](https://github.com/nmondal/cowj/blob/e63d3c531a2130bbd6dc1e69c649b14599a9e25d/app/src/main/java/cowj/plugins/JWTAuthenticator.java#L214C27-L214C27). 

This conversion is lossy. It does not preserve the whitespace of the original payload. In particular, payload encoded using ZTypes.jsonString has whitespaces around them like so:

```groovy
jstr({
"aud": [],
"exp": 1704210338,
"iat": 1704204338,
"iss": "test",
"jti": "e528cd28-6fa3-4931-a695-857e23000a44",
"sub": "bar"
})
```

Outputs:
```
{"aud" : [], "sub" : "bar", "iss" : "test", "exp" : 1704210338, "iat" : 1704204338, "jti" : "e528cd28-6fa3-4931-a695-857e23000a44"}
```

Note the whitespace before and after the colon. 

This is not a problem for tokens generated by cowj as they will encode the json string the same way. Problem occurs when other languages create the token and send it to COWJ. 

Steps to reproduce:

1. Go to cowj/app/samples/auth_jwt/auth/auth.yaml
2. Set `secret-key: "abcdef"`
3. Set `expiry: 6000`
4. Run auth_jwt
5. Create a token: `curl localhost:6044/token`
6. Try to run `/hello`: 
  ```shell
  curl localhost:6044/hello \
  -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiIDogW10sICJleHAiIDogMTcwNDIxMDMzOCwgImlhdCIgOiAxNzA0MjA0MzM4LCAiaXNzIiA6ICJ0ZXN0IiwgImp0aSIgOiAiZTUyOGNkMjgtNmZhMy00OTMxLWE2OTUtODU3ZTIzMDAwYTQ0IiwgInN1YiIgOiAiYmFyIn0.eQWwyqqqNdCcxMBw5aSGPh2K9xBbEveaCFjRetPDCJQ"
  ```
8. It will print: `Hello, 'bar'!`
9. Now, copy the token and paste it into jwt.io
10. Get the payload from jwt.io and run the following python code (assuming [pyjwt](https://pyjwt.readthedocs.io/en/stable/) is installed):
```python
    import jwt
    data = <data extracted from payload in jwt.io>
    token = jwt.encode(data, 'abcdef', 'HS256')

    print(f'token: {token}')

    decoded = jwt.decode(token, 'abcdef', algorithms=['HS256'])
    print(f'decoded: {decoded}')

    print(f'same: {data == decoded}')
```
10. Now try to hit /hello with the token generated from the above script:
```shell
curl localhost:6044/hello \
> -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOltdLCJleHAiOjE3MDQyMTAzMzgsImlhdCI6MTcwNDIwNDMzOCwiaXNzIjoidGVzdCIsImp0aSI6ImU1MjhjZDI4LTZmYTMtNDkzMS1hNjk1LTg1N2UyMzAwMGE0NCIsInN1YiI6ImJhciJ9.NEfuAyg4vlPGEzavgYD8gUom_SkOQbuuhAn_Qihm3jE"
```

Expected Output:
`Hello, 'bar'!`

Actual Output:
`UnAuthenticated`

Notes:
1. If we decode the payload from the token generated by /token, we get:
```
{"aud" : [], "exp" : 1704210338, "iat" : 1704204338, "iss" : "test", "jti" : "e528cd28-6fa3-4931-a695-857e23000a44", "sub" : "bar"}
```
2. If we decode the payload from the token generated by python script, we get: 
```
{"aud":[],"exp":1704210338,"iat":1704204338,"iss":"test","jti":"e528cd28-6fa3-4931-a695-857e23000a44","sub":"bar"}
```

Edit:

As per [JWT spec](https://www.rfc-editor.org/rfc/rfc7519#section-3): 

> These members are
   the claims represented by the JWT.  This JSON object MAY contain
   whitespace and/or line breaks before or after any JSON values or
   structural characters, in accordance with [Section 2 of RFC 7159](https://www.rfc-editor.org/rfc/rfc7159#section-2)
   [[RFC7159](https://www.rfc-editor.org/rfc/rfc7159)] 